In [1]:
import pandas as pd

In [14]:
#1
df1 = pd.read_csv('./file/signup.csv', encoding='cp949')
df2 = pd.read_csv('./file/professor.csv', encoding='cp949')

df = pd.merge(df1, df2, on='담당교수')
df

   수강코드    과목명 담당교수     학과
0   111    파이썬  양숙희  컴퓨터공학
1   222  데이터분석  오경선   인공지능
2   333   인공지능  장은실   정보통신
3   444   선형대수  황복동  컴퓨터공학
4   555   이산수학  정명식   인공지능

In [9]:
df2.groupby(['학과']).count()

       담당교수
학과
인공지능      2
정보통신      1
컴퓨터공학     2