In [1]:
import pandas as pd

In [6]:
# 1

df = pd.read_csv('./file/covid.csv', encoding='cp949')
df

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0
5    잡지·책  776  31.3  17.8  50.9
6    종이신문  552  17.6  23.2  59.2

In [9]:
# 2

df.sort_values(by = '사례수')
df.head(1)

     항목  사례수    증가   감소  변화없음
0  스마트폰  999  78.9  1.7  19.4

In [11]:
# 3

df.sort_values(by = '증가')
df.head(3)

       항목  사례수    증가   감소  변화없음
0    스마트폰  999  78.9  1.7  19.4
1    텔레비전  965  68.5  3.9  27.6
2  개인용 PC  973  65.7  3.7  30.6