In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
iris = pd.read_csv('./file/iris.csv')

In [4]:
iris.sort_values(by="SepalWidth", ascending=False)

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
15           5.7         4.4          1.5         0.4      setosa
33           5.5         4.2          1.4         0.2      setosa
32           5.2         4.1          1.5         0.1      setosa
14           5.8         4.0          1.2         0.2      setosa
5            5.4         3.9          1.7         0.4      setosa
..           ...         ...          ...         ...         ...
53           5.5         2.3          4.0         1.3  versicolor
62           6.0         2.2          4.0         1.0  versicolor
68           6.2         2.2          4.5         1.5  versicolor
119          6.0         2.2          5.0         1.5   virginica
60           5.0         2.0          3.5         1.0  versicolor

[150 rows x 5 columns]

In [6]:
iris2 = iris.sort_values(by="SepalWidth", ascending=False)

top10 = iris2.head(10)

top10.plot(kind='bar', rot=0)
plt.title('top10')
plt.xlabel('data')
plt.ylabel('Length')
plt.show()

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
15           5.7         4.4          1.5         0.4     setosa
33           5.5         4.2          1.4         0.2     setosa
32           5.2         4.1          1.5         0.1     setosa
14           5.8         4.0          1.2         0.2     setosa
5            5.4         3.9          1.7         0.4     setosa
16           5.4         3.9          1.3         0.4     setosa
44           5.1         3.8          1.9         0.4     setosa
46           5.1         3.8          1.6         0.2     setosa
117          7.7         3.8          6.7         2.2  virginica
131          7.9         3.8          6.4         2.0  virginica