In [1]:
import pandas as pd

In [ ]:
# 1-1
iris = pd.read_csv('./file/iris.csv')
x = iris.groupby('Species').max()
y = iris.groupby('Species').min()

In [6]:
[x, y]

[            SepalLength  SepalWidth  PetalLength  PetalWidth
 Species
 setosa              5.8         4.4          1.9         0.6
 versicolor          7.0         3.4          5.1         1.8
 virginica           7.9         3.8          6.9         2.5,
             SepalLength  SepalWidth  PetalLength  PetalWidth
 Species
 setosa              4.3         2.3          1.0         0.1
 versicolor          4.9         2.0          3.0         1.0
 virginica           4.9         2.2          4.5         1.4]

In [7]:
# 1-2
iris2 = iris
iris2.columns = ['SL', 'SW', 'PL', 'PW', 'SP']
iris2.head()

    SL   SW   PL   PW      SP
0  5.1  3.5  1.4  0.2  setosa
1  4.9  3.0  1.4  0.2  setosa
2  4.7  3.2  1.3  0.2  setosa
3  4.6  3.1  1.5  0.2  setosa
4  5.0  3.6  1.4  0.2  setosa